<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado Liebre</title>
    <link rel="stylesheet" href="static/css/home.css">
    <script src="https://kit.fontawesome.com/eea4f475c8.js" crossorigin="anonymous"></script>
</head>
<body>
    <header id="header">
        <div class="contenedorLogo2">
            <div class="contenedorLogo">
                <img id="logo" src="static/img/logo-mercado-liebre.svg" alt="imagen">
                <input id="busqueda" type="text" placeholder="Buscar Productos">
            </div>
            <h5 id="compra_en_cuotas"><i class="fa-solid fa-hand-holding-dollar"></i>Compra en cuotas y sin tarjeta de creditos</h5>
        </div>
        <nav>
            <ul>
                <li><a href="#">Ofertas</a></li>
                <li><a href="#">Tiendas Oficiales</a></li>
                <li><a href="#">Vender</a></li>
                <li><a href="#">Ayuda</a></li>
            </ul>
            <ul>
                <li><a href="/register" >Crea tu cuenta<i class="fa-regular fa-id-card"></i></a></li>
                <li><a href="/login">Ingresa<i class="fa-solid fa-right-to-bracket"></i></a></li>
                <li><a href="#">Mis Compras<i class="fa-solid fa-cart-shopping"></i></a></li>
            </ul>
        </nav>
        <div class="burger-menu">
            <i id="icon"class="fas fa-bars"></i>
        </div>
    </header>
    <img id="banner" src="static/img/img-home-banner.jpg" alt="imagen"  >
    <main id="main">
        
        <section >
            <p>Basado en tu ultima visita</p>
            <h3 id="ultVisita">
                <div id="articulo">
                    <img src="static/img/img-cafetera-moulinex.jpg" alt="cafetera" width="100%">
                    <div class="camion">
                        <h6><i id="iconoSection" class="fa-solid fa-truck"></i></h6>
                    </div>
                    <div class="renglon">
                        <h6 id="precio">$6770</h6>
                        <h6 id="descuento">40% Off</h6>
                    </div>
                    <h6 id="descripcion">Cafetera moulinex</h6>
                </div>
                <div id="articulo">
                    <img src="static/img/img-macbook-pro-2019.jpg" alt="Macbook pro" width="100%">
                    <div class="camion">
                        <h6><i id="iconoSection" class="fa-solid fa-truck"></i></h6>
                    </div>
                    <div class="renglon">
                        <h6 id="precio"> $230.000</h6>
                        <h6 id="descuento">20% Off</h6>
                    </div>
                    <h6 id="descripcion">Macbook Pro 2019</h6>
                </div>
                <div id="articulo">
                    <img src="static/img/img-samsung-galaxy-s10.jpg" alt="Samsung galaxy s10" width="100%">
                    <div class="camion">
                        <h6><i id="iconoSection" class="fa-solid fa-truck"></i></h6>
                    </div>
                    <div class="renglon">
                        <h6 id="precio">$70500</h6>
                        <h6 id="descuento">10% Off</h6>
                    </div>
                    <h6 id="descripcion">Samsung galaxy s10</h6>
                </div>
                <div id="articulo">
                    <img src="static/img/img-tv-samsung-smart.jpg" alt="Samsung smart TV" width="100%">
                    <div class="camion">
                        <h6><i id="iconoSection" class="fa-solid fa-truck"></i></h6>
                    </div>
                    <div class="renglon">
                        <h6 id="precio">$23.200</h6>
                        <h6 id="descuento">5% Off</h6>
                    </div>
                    <h6 id="descripcion">SmartTV Samsung 43"</h6>
                </div>
            </h3>
        </section>
        <p>Seccion de Ofertas</p>
        <section>
            <h3 id="ofertas">
                <div id="articulo">
                    <img src="static/img/img-cafetera-moulinex.jpg" alt="cafetera" width="100%">
                    <div class="camion">
                        <h6><i id="iconoSection" class="fa-solid fa-truck"></i></h6>
                    </div>
                    <div class="renglon">
                        <h6 id="precio">$6770</h6>
                        <h6 id="descuento">40% Off</h6>
                    </div>
                    <h6 id="descripcion">Cafetera moulinex</h6>
                </div>
                <div id="articulo">
                    <img src="static/img/img-macbook-pro-2019.jpg" alt="Macbook pro" width="100%">
                    <div class="camion">
                        <h6><i id="iconoSection" class="fa-solid fa-truck"></i></h6>
                    </div>
                    <div class="renglon">
                        <h6 id="precio">$230.000</h6>
                        <h6 id="descuento">20% Off</h6>
                    </div>
                    <h6 id="descripcion">Macbook Pro 2019</h6>
                </div>
                <div id="articulo">
                    <img src="static/img/img-samsung-galaxy-s10.jpg" alt="Samsung galaxy s10" width="100%">
                    <div class="camion">
                        <h6><i id="iconoSection" class="fa-solid fa-truck"></i></h6>
                    </div>
                    <div class="renglon">
                        <h6 id="precio">$70500</h6>
                        <h6 id="descuento">10% Off</h6>
                    </div>
                    <h6 id="descripcion">Samsung galaxy s10</h6>
                </div>
                <div id="articulo">
                    <img src="static/img/img-tv-samsung-smart.jpg" alt="Samsung smart TV" width="100%">
                    <div class="camion">
                        <h6><i id="iconoSection" class="fa-solid fa-truck"></i></h6>
                    </div>
                    <div class="renglon">
                        <h6 id="precio"></i>$23.200</h6>
                        <h6 id="descuento">5% Off</h6>
                    </div>
                    <h6 id="descripcion">SmartTV Samsung 43"</h6>
                </div>
            </h3>
        </section>
    </main>
    <footer>
        <section>
            <h6 id="iconoFooter"><i class="fa-solid fa-credit-card"></i></i></h6>
            <h7 >Pagá con tarjeta o en efectivo</h7>
            <h6>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago.
                 ¡Y siempre es seguro!
            </h6>
        </section>
        <section>
            <h6 id="iconoFooter"><i class="fa-solid fa-gift"></i></i></h6>
            <h7>Envío gratis desde los $ 2.500</h7>
            <h6>Solo por estar registrado en Mercado Liebre tenés envíos gratis en miles de productos.
                 Es un beneficio de Mercado Puntos.
            </h6>
        </section>
        <section>
            <h6 id="iconoFooter"><i class="fa-solid fa-user-shield"></i></h6>
            <h7>Seguridad de principio a fin</h7>
            <h6>¿No te gusta? ¡Devolvelo! En MercadoLiebre no hay nada que no puedas hacer porque estás
                 siempre protegid@.
            </h6>
        </section>
        <h6>Copyright € 1999-2020 MercadoLiebre SRL.</h6>
    </footer>
</body>
</html>