@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    font-family: roboto;
    background-color: #ebebeb;
    
}
/****************TODO LO QUE ES HEADER****************/
#header{
    font-size:12px;
    width: 100vw;
    padding: 10px;
    background-color: #EAC926;
}
.contenedorLogo{
    display: flex;
    flex-wrap: nowrap;
}
#logo{
    margin: 15px;
    width: 50%;
}
#busqueda{
    width: 50%;
    height: 30px;
    margin-top: 20px;
    border-radius: 5px;
    border: 1px solid white;
    padding-left: 15px;
}
#compra_en_cuotas{
    text-align: center;
    font-size: 13px;
    margin: 15px;
}
#compra_en_cuotas i{
    margin-right: 3px;
}
nav ul{
    list-style: none;
    margin-top: 10px;
}
nav ul li{
    margin-bottom: 4px;
}
nav ul li a{
    text-decoration: none;
    color: black;
}
nav ul li a i{
    margin-left: 3px;
}
.burger-menu{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 10px;

}
.burger-menu #icon{
    background-color:#1259c3;
    color: white;
    padding: 10px ; 
    margin-bottom: 5px;
    border-radius: 5px;
    font-size: 20px;
}


/*******************TODO LO QUE ES LOGIN*********************/
main form{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    
}
#user{
    display: flex;
    justify-content: center;
}
#user input{
    width: 80vw;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid white;
    margin: 15px auto;
}
#contraseña{
    display: flex;
    justify-content: center;
}
#contraseña input{
    width: 80vw;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid white;
    margin: 20px auto;
}
#boton{
    display: flex;
    flex-wrap: wrap;
    width: 80vw;
    justify-content: center;
    margin:25px auto;
    background-color:  #1259c3;
    border-radius: 5px;
    border:1px solid #1259c3;
}
button{
    padding: 10px;
    border:1px solid #1259c3;
    background-color: #1259c3;
    color: white;
}

/********************TODO LO QUE ES FOOTER*******************/
footer{
    width: 100vw;
    background-color: white;
    text-align: center;
    color: #666;      
}
footer section h7{
    color: black;
    margin-bottom: 5px;
}

#iconoFooter{
    font-size: 2em;
    margin-bottom: 10px;
    margin-top: 10px;
    color:#1259c3;
}



/**************MEDIA QUERIES*************************/

/*MOVIL*/
@media(max-width: 460px){
    nav{
       display: none;
   }
}



/*TABLET*/
@media(min-width:460px){
   
   .burger-menu{
       display: none;
   }
   .contenedorLogo2{
       display: flex;
       flex-wrap: nowrap;
   }
   nav{
       display: flex;
       flex-wrap: wrap;
   }
   nav ul {
       display: flex;
       flex-wrap: wrap;
       margin: auto;
   }
   nav ul li{
       margin-left: 15px;
   }
}


/*PC*/
@media(min-width:769px){
   .burger-menu{
       display: none;
   }
   .contenedorLogo{
    width: 66vw;
   }
   .contenedorLogo2{
       display: flex;
       flex-wrap: nowrap;
   }
   nav{
       display: flex;
       flex-wrap: wrap;
   }
   nav ul {
       display: flex;
       flex-wrap: wrap;
       margin: auto;
   }
   nav ul li{
       margin-left: 15px;
   }
}